body {
    font-family: Arial, Helvetica, sans-serif;
  }
  h1 {
    color: #7c7c7c;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    margin: 0;
  }
  ul {
    margin: 0 0 10px;
    padding: 0;
  }
  
  li {
    color: #7c7c7c;
    font-size: 16px;
    font-weight: 100;
    line-height: 18px;
    list-style: none;
  }
  
  .weather-app {
    border: 1px solid #dadde1;
    padding: 15px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 600px;
  }
  
  .weather-icon {
    height: 64px;
    width: 64px;
    margin-right: 10px;
  }
  .temperature {
    font-weight: 400;
    font-size: 64px;
    line-height: 1;
  }
  .units {
    position: fixed;
    top: auto;
  }
  
  .search-form {
    margin-bottom: 20px;
  }
  